In [1]:
import os
import pandas as pd

In [2]:
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
# FOR KAGGLE

#train = pd.read_csv("/kaggle/input/feedback-prize-english-language-learning/train.csv")
#test = pd.read_csv("/kaggle/input/feedback-prize-english-language-learning/test.csv")
#submission = pd.read_csv("/kaggle/input/feedback-prize-english-language-learning/sample_submission.csv")

train = pd.read_csv("../../data/train.csv")
test = pd.read_csv("../../data/test.csv")
submission = pd.read_csv("../../data/test.csv")

In [4]:
display(train)

,text_id,full_text,cohesion,syntax,vocabulary,phraseology,grammar,conventions
0,0016926B079C,I think that students would benefit from learn...,3.5,3.5,3.0,3.0,4.0,3.0
1,0022683E9EA5,When a problem is a change you have to let it ...,2.5,2.5,3.0,2.0,2.0,2.5
2,00299B378633,"Dear, Principal\n\nIf u change the school poli...",3.0,3.5,3.0,3.0,3.0,2.5
3,003885A45F42,The best time in life is when you become yours...,4.5,4.5,4.5,4.5,4.0,5.0
4,0049B1DF5CCC,Small act of kindness can impact in other peop...,2.5,3.0,3.0,3.0,2.5,2.5
...,...,...,...,...,...,...,...,...
3906,FFD29828A873,I believe using cellphones in class for educat...,2.5,3.0,3.0,3.5,2.5,2.5
3907,FFD9A83B0849,"Working alone, students do not have to argue w...",4.0,4.0,4.0,4.0,3.5,3.0
3908,FFDC4011AC9C,"""A problem is a chance for you to do your best...",2.5,3.0,3.0,3.0,3.5,3.0
3909,FFE16D704B16,Many people disagree with Albert Schweitzer's ...,4.0,4.5,4.5,4.0,4.5,4.5
3910,FFED00D6E0BD,Do you think that failure is the main thing fo...,3.5,2.5,3.5,3.0,3.0,3.5

In [5]:
label_columns = ["cohesion", "syntax", "vocabulary", "phraseology", "grammar", "conventions"]

means = train[label_columns].mean()

print(means)

cohesion       3.127077
syntax         3.028254
vocabulary     3.235745
phraseology    3.116850
grammar        3.032856
conventions    3.081053
dtype: float64

In [6]:
submission

        text_id                                          full_text
0  0000C359D63E  when a person has no experience on a job their...
1  000BAD50D026  Do you think students would benefit from being...
2  00367BB2546B  Thomas Jefferson once states that "it is wonde...

In [7]:
test

        text_id                                          full_text
0  0000C359D63E  when a person has no experience on a job their...
1  000BAD50D026  Do you think students would benefit from being...
2  00367BB2546B  Thomas Jefferson once states that "it is wonde...

In [8]:
submission_pred = test.drop("full_text",axis=1)

In [9]:
submission_pred['cohesion'] = means['cohesion']
submission_pred['syntax'] = means['syntax']
submission_pred['vocabulary'] = means['vocabulary']
submission_pred['phraseology'] = means['phraseology']
submission_pred['grammar'] = means['grammar']
submission_pred['conventions'] = means['conventions']

In [10]:
submission_pred

,text_id,cohesion,syntax,vocabulary,phraseology,grammar,conventions
0,0000C359D63E,3.127077,3.028254,3.235745,3.11685,3.032856,3.081053
1,000BAD50D026,3.127077,3.028254,3.235745,3.11685,3.032856,3.081053
2,00367BB2546B,3.127077,3.028254,3.235745,3.11685,3.032856,3.081053

In [11]:
submission_pred.to_csv('submission.csv',index=False)